.hello{
    font-family: 'Courier New', Courier, monospace;
    color:#2a9d8f;
    background-color: #e9c46a;
    border:2px solid black;
    font-size: 1.4rem;
}

.demo{
    text-transform: uppercase;
    color:cornflowerblue;
    text-shadow: 2px 3px 2px rgba(0,0,0,0.7);
}

#para{
    width: 60%;
    border: 0.01px solid grey;
    padding: 10px;
}

.two{
    display: none;
}

.square{
    width: 300px;
}