.special{
    height: 100px;
    width: 400px;
    border:2px solid black;
    background-color: #b56576;
    /* animation-name: swing;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-direction: normal;
    animation-delay: 2s;
    animation-fill-mode: backwards; */
    animation: normal swing 5s 1s 2 ;
}

/* @keyframes swing{
    from{
        height: 100px;
    }
    to{
        height: 700px;
    }
} */

@keyframes swing{

    0%{
        height: 100px;
        background-color: #264653;
    }
    20%{
        height: 300px;
        width: 900px;
        background-color: #2a9d8f;
    }
    50%{
        height: 600px;
        width: 1200px;
        background-color: #e9c46a;
    }
    70%{
        height: 800px;
        width: 1200px;
        background-color: #f4a261;
    }
    100%{
        height: 1000px;
        width: 400px;
        background-color: #1d3557;
    }

}

