
h1{
    border:3px solid black;
    background-color: aqua;
    color:green;
}

p{
    background-color: aquamarine;
}

span{
    font-size:30px;
    text-transform: capitalize;
}

input{
    background-color: burlywood;
}