

body{
    background-color: #90e0ef;
}


p{
    font-weight: 100;
    /* text-align: center; */

    text-shadow: 1px 2px 1px red;
}

h1{

    font-size: 5em;
    text-align: center;
    text-shadow: 1px 2px 2px red,5px 5px 1px green,7px 8px 2px yellow;
}

h2{

    font-size: 6em;
    color: white;
    transition: 3s;
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h3{
    text-align: center;
    font-size: 7em;

    text-shadow: -20px -20px 10px red;

}

h2:hover{
    /* transform-origin: left; */
    transform:scale(2);;

}